extends layout

block content
  .row
    .col-md-6.offset-md-3
      h1.text-center Register
      if error
        #error-message.alert.alert-danger= error
      form(action='/users/register', method='POST')
        .form-group
          label(for='username') Username
          input#username.form-control(type='text', name='username', required, oninput='document.getElementById("error-message") && (document.getElementById("error-message").style.display="none")')
        .form-group
          label(for='email') Email
          input#email.form-control(type='email', name='email', required, oninput='document.getElementById("error-message") && (document.getElementById("error-message").style.display="none")')
        .form-group
          label(for='password') Password
          input#password.form-control(type='password', name='password', required, oninput='document.getElementById("error-message") && (document.getElementById("error-message").style.display="none")')
        button.btn.btn-primary.mt-2(type='submit') Register